



<ion-modal-view >
<ion-view title="选择人员" ng-controller="selectCtrl" >
<ion-header-bar class="bar bar-header bar-positive contact" >
  <button class="button button-clear " ng-if="isrootnode" ng-click="closePeople(false)">
    <i class="icon indi-fanhui" style="font-size:14px"></i>
  </button>
  <button class="button button-clear"  ng-if="!isrootnode" ng-click="backFather()">
    <i class="icon indi-shangyiji" style="font-size:14px">上级目录</i>
  </button>
  <h1 class="title">选择人员  </h1>
  <button class="button"  ng-click="closePeople(true)">确定</button>
</ion-header-bar>
<div class="bar bar-subheader selected-peodep" >
      <div class="title" >
            <span class="selected" >已选</span>
            <span class="selectednum" >{{namelist.length}}</span>
            <ion-scroll zooming="true" direction="x" class="selectedItems" has-bouncing="false">
             <div><span  class="selectedItem" ng-repeat=" name in namelist" ng-click="remove(name)">{{name | domUser}}</span></div> 
            </ion-scroll>
            <span ng-click="remove()" class="selecteddel ion-ios-close-empty"></span>
      </div>
</div>

  <div class="item item-input-inset has-header has-subheader search" style="z-index:1;background-color: rgb(250, 250, 250);padding-top:0px">
    <label class="item-input-wrapper" style="border: 1px solid rgb(201, 201, 201)" >
       <input type="text" placeholder="请输入人名" ng-model="searchkey" ng-change="searchpeople()" style="width:100%"  clear-Input>
    </label>
 
  </div>
  <div  style="position: relative;height:100%" ng-show="searchkey!=''" >
   <ion-content   class="has-header has-subheader contact"  >                       
                <ion-item ng-if="result.length>0" class="item item-avatar" ng-repeat="person in result" type="item-text-wrap"  style="border-left:none;border-right:none;">   
                      <img ng-src={{person.imgpath==""?defaultimage:(ROOT+person.imgpath)}} >
                    {{person._name}}
                    <label class="checkbox"> 
                           <input type="checkbox"  ng-model="selected.names[person._name]"  ng-true-value="'{{person.AbbName}}'"
                         ng-change="showchecked(person.AbbName)">
                    </label>
                </ion-item>   
                <ion-item ng-if="result==''" class="item item-avatar"  type="item-text-wrap"  style="border-left:none;border-right:none;">   
                    没找到
                </ion-item>                       
  </ion-content >
</div>
  <ion-slide-box  on-release="release()"  style="height:100%" delegate-handle="select">
      <ion-slide  ng-repeat= " obj in Slide2" ng-show="searchkey==''">
      
      <ion-content  class="  has-header has-subheader contact"    style="width:40%;float:left;background-color: rgb(240, 240, 240);" >
              <label class="checkbox" style="z-index: 100;right: 0px;top:initial;margin-top:8px" ng-show="islocal&&prope.isSingle!='yes'">
                  <input type="checkbox" ng-model="checkedforAll.isAllChecked" ng-click="checkAll()">
              </label>  
              <label class="item item-radio"   ng-click="showChilds('local','left')" style="border:none">
               <input type="radio" name={{"groupleftsele"+obj.depNodes[0].ParentDepCode}}  value="local" ng-checked="islocal" >
                 <div class="item-content" style="background-color: rgb(240, 240, 240);">
                  常用选择人
                 </div>
                 <i class="radio-icon ion-checkmark" style="padding:0;color:white;padding-top: 8px;"></i>
              </label>
             <div ng-repeat="dep in obj.depNodes" >
                    <label class="checkbox" style="z-index: 100;right: 0px;top:initial;margin-top:8px" ng-if="!islocal&&dep.DepartmentCode==checkedradio.names['radio'+dep.ParentDepCode]&&prope.isSingle!='yes'">
                        <input type="checkbox"  ng-model="checkedforAll.isAllChecked" ng-click="checkAll()">
                    </label>  
                    <label class="item item-radio"  ng-click="showChilds(dep.DepartmentCode,'left')" style="border:none">
              <input type="radio" name={{"groupleftsele"+dep.ParentDepCode}} value={{dep.DepartmentCode}}  ng-checked="!islocal&&dep.DepartmentCode==checkedradio.names['radio'+dep.ParentDepCode]" ng-model="checkedradio.names['radio'+dep.ParentDepCode]">

                       <div class="item-content" style="background-color: rgb(240, 240, 240);">
                        {{dep.DepName}}
                       </div>
                        <i class="radio-icon ion-checkmark" style="padding:0;color:white;padding-top: 8px;"></i>
                    </label>    
              </div>     
         </ion-content >
        <ion-content class=" has-header has-subheader has-mysearch contact"  style="width:60%;left:40%;" ng-show="islocal">
                    <div class="list">
                  <ion-item  class="item item-avatar" ng-repeat="person in recentUser" type="item-text-wrap"> 
                     <img ng-src={{person.imgpath==""?defaultimage:(ROOT+person.imgpath)}} >
                      {{person._name}}
                    <label class="checkbox">
                      <input type="checkbox"  ng-model="selected.names[person._name]"  ng-true-value="'{{person.AbbName}}'"
                         ng-change="showchecked(person.AbbName);isAllChecked()">
                       </label>
                    </ion-item>
                
             </div>
         </ion-content >
 <ion-content  style="width:60%;left:40%;"  class=" has-header has-subheader has-mysearch contact" ng-show="!islocal" >
     
        <div class="list"   class="scroll" >                               
                  
            <ion-item  class="item item-avatar" ng-repeat="person in obj.concats" type="item-text-wrap"  style="border-left:none;border-right:none">   
                      <img ng-src={{person.imgpath==""?defaultimage:(ROOT+person.imgpath)}} >
                        {{person._name}}
                         <label class="checkbox"> 
                           <input type="checkbox"  ng-model="selected.names[person._name]"  ng-true-value="'{{person.AbbName}}'"
                         ng-change="showchecked(person.AbbName);isAllChecked()">
                       </label>
            </ion-item>  
            <ion-item  class="item item-icon-left " ng-repeat="group in obj.groups" type="item-text-wrap"  style="border-left:none;border-right:none">             <i class="icon indi-qunzu" ></i>
                        {{group.text}}
                         <label class="checkbox"> 
                           <input type="checkbox"  ng-model="selected.names[group.text]"  ng-true-value="'{{group.text}}'"
                         ng-change="showchecked(group.text)">
                       </label>
            </ion-item>  
          <label class="item item-radio" ng-repeat="dep in obj.childdeps"  ng-click="showChilds(dep.DepartmentCode,'right')" style="border-left:none;border-right:none">
      <input type="radio"  name={{"groupsele"+dep.ParentDepCode}} value={{dep.DepartmentCode}}  ng-checked="dep.DepartmentCode==checkedradio.names['radio'+dep.ParentDepCode]" ng-model="checkedradio.names['radio'+dep.ParentDepCode]">
                 <div class="item-content item-icon-right" >
                  {{dep.DepName}}
                  <i class="icon  ion-ios-arrow-right" ></i>
                 </div>
              </label>
        </div >
          </ion-content >
         </ion-slide>
  </ion-slide-box>




</ion-view> 
 </ion-modal-view>
  