
    <ion-content  ng-show="attform.thisattname==''" ng-cloak ng-class="{'empty':attform.thisattname==''}">
    </ion-content>
     <ion-content ng-show="attform.docViewerType=='reflow'"  padding="true" class="has-footer">    
            <ion-list>
              <div ng-repeat="html in   attform.htmlsforshowcached[attform.thisattname]" sd-html-viewer="html.htmlURI" uri="true"></div>
          <!-- <div  ng-repeat="html in attform.docViewer.htmlsforshow track by $index" sd-html-viewer="html.htmlURI" uri="true"></div> -->
            </ion-list>
          <ion-infinite-scroll    ng-if="!attform.noMoreItemsAvailable"
                                  on-infinite="loadMoreHtml()"  distance="1%">
          </ion-infinite-scroll>
    </ion-content>
        <ion-slide-box ng-if="attform.docViewerType=='img'" class="doc-viewer" show-pager="true" on-slide-changed="slideChanged(index)" >
          <ion-slide ng-repeat="page in attform.docViewer.pagesforshow track by $index" on-touch="setOldIndex($index)" >
          <ion-content scroll="false" class="has-footer has-header " ng-class="{'has-tabs-top':statename=='webflow'}" >
            <ion-scroll delegate-handle="page{{$index}}" on-scroll="pageOnScroll($index)" zooming="true" direction="xy" min-zoom="1" class="page-content-wrapper">
              <img class="page-content" ng-src="{{page.imgURI}}"  >
            </ion-scroll>
            </ion-content>
          </ion-slide>
        </ion-slide-box>
        <ion-footer-bar class="bar-stable " ng-if="attform.attViewershow!='attlist'" >
     <!--      <div class="range docviewrange" ng-init="attform.pagecode=1">
            <input type="range" name="rangecode" ng-model="attform.pagecode"  min="1" max="{{attform.docViewer.pages.length}}"  on-release="hidepagecode(attform.pagecode)" ng-if="attform.docViewerType=='img'" on-drag="showpagecode()">
            <span ng-if="attform.docViewerType=='img'" >{{attform.pagecode}}/{{attform.docViewer.pages.length}}</span>
          </div> -->
          <div class=" docviewrange" ng-init="attform.pagecode=1">
            <div class="myrange"   ng-model="attform.pagecode"   range ng-if="attform.docViewerType=='img'" pagecode="attform.pagecode">
                <i class="rangeline"></i>
                <i class="movebutton"></i>
            </div>
           <!--  <span ng-if="attform.docViewerType=='img'" style="white-space: nowrap;line-height:30px" >{{attform.pagecode}}/{{attform.docViewer.pages.length}}</span> -->
            <span ng-if="attform.docViewerType=='img'" id="pageContianer" style="white-space: nowrap;line-height:30px; width:50px;" >{{attform.pagecode}}/{{attform.docViewer.pages.length}}</span>
          </div>
          <button ng-if="attform.docViewerType=='reflow'&&attform.thisattname.indexOf('.doc')>0" class="button pull-auto" on-tap="attform.docViewerType='img'" style="min-width:70px">原版预览</button>
          <button ng-if="attform.docViewerType=='img'&&attform.thisattname.indexOf('.doc')>0" class="button pull-auto" on-tap="attform.docViewerType='reflow';attform.noMoreItemsAvailable = false;updatescroll()" style="min-width:90px">重排版预览</button>
          <button  class="button pull-auto" ng-if="attform.attisfj" on-tap="attform.attViewershow='attlist';attform.docViewer={};attform.docViewerType=''" style="min-width:70px">返回原文</button>
        </ion-footer-bar> 
        <div  ng-if="attform.showpagecode" ng-cloak class="pagecode-container"><div class="pagecode"><span>第{{attform.pagecode}}页</span></div></div>
